*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #048dbf;
    background-size: cover;
}

.contenedorTodo{
    padding-top: 160px;
    display: flex;
    justify-content: center;
}

.contenedorContraseña{
    display: flex;
    align-items: center;
    max-width: 400px;
    position: relative;
    top: 20px;
    left: 10px; 
}

.contenedorContraseña form{
    width: 1000px;
    padding: 80px 20px;
    background: #ededed;
    border-radius: 15px;

}

.contenedorContraseña form h2{
    font-size: 30px;
    text-align: center;
    margin-top: -50px;
    color: #048dbf;
}

.input{
    position: absolute;
    top: 55%;
	border: none;
    border-bottom: solid #C8C8C8 .2rem;
    background-color: #ededed;
    width: 360px;
    outline: 0px;
}



.contenedorContraseña form p{
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    color: #000;
}

.contenedorContraseña form button{
    padding: 10px 40px;
    position: absolute;
    top: 70%;
    font-size: 14px;
    margin-left: 120px;
    background: #048dbf;
    border: 2px solid #fff;
    color: white;
    cursor: pointer;
    transition: all 500ms;
}

.contenedorContraseña form button:hover{
    background: white;
    border: 2px solid #048dbf;
    color: #048dbf;
}

nav{
    background: #3ACBC7;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 70px;
    margin-left: 10px;
}
.bar-btn{
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background:#0359BE;
    text-align: center;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: .5s;
}

.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a:hover{
    color: #3ACBC7;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}


@media screen and (min-width: 768px){
    
    .logo{
        margin-left: 10px;
    }

    nav{
        height: 80px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        top: 0;
        height: 100px;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 20px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

   .nav-menu li a{
       font-size: 16px;
   } 
   
   .nav-menu li a:hover{
    color: #0359BE;
    transition: .3s;
    }
}
/*fin del menu*/

a {
    text-decoration: none;
}
  
body, html {
    height: 100%;
}

@media screen and (min-width: 600px){
    .contenedorTodo{
        padding-top: 150px;
    }
}

@media screen and (max-width: 250px){
    .contenedorTodo{
        padding-top: 50px;
    }
}