*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-color: #048dbf;
    background-size: cover;
}

.contenedorTodo{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

/*Formularios*/
.contenedorRegistro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: 20px;
}

.contenedorRegistro form{
    position: relative;
    max-height: 90%;
    padding: 80px 20px;
    background: #ededed;
    border-radius: 20px;

}

.contenedorRegistro form h2{
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 11mm;
    color: #048dbf;

}

.contenedorRegistro form input{
    position: relative;
    bottom: 5mm;  
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #d4d4d4;
    font-size: 16px;
    outline: none;
}

.contenedorRegistro form button{
    padding: 10px 40px;
    margin: 10px 90px;
    font-size: 14px;
    background: #048dbf;
    border: 2px solid #fff;
    color: white;
    cursor: pointer;
    outline: none;
    transition: all 300ms;
}

.contenedorRegistro form button:hover{
    background: white;
    border: 2px solid #048dbf;
    color: #048dbf;
}

nav{
    background: #3ACBC7;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 70px;
    margin-left: 10px;
}
.bar-btn{
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background:#0359BE;
    text-align: center;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: .5s;
}

.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a:hover{
    color: #3ACBC7;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}


@media screen and (min-width: 768px){
    
    .logo{
        margin-left: 10px;
    }

    nav{
        height: 80px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        top: 0;
        height: 100px;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 20px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

   .nav-menu li a{
       font-size: 16px;
   } 
   
   .nav-menu li a:hover{
    color: #0359BE;
    transition: .3s;
    }
}
/*fin del menu*/

a {
    text-decoration: none;
}
  
body, html {
    height: 100%;
}