*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url("../IMG/money-2696219_1920.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;   
    
}

body:before {
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6)

}

.contenedorTodo{
  height: 100%;
  text-align: center;  
  position: relative;
  backdrop-filter: blur(3px);
}

.contenedorFrase{
    position: relative;
    top: 40px;
}


.buttonF a{
    display: inline-block;
    position: relative;
    top: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 9.5px;
    cursor: pointer;
}



.titulo a{
    position: relative;
    top: 75px;
    color:#000;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin:  15px ;
}


nav{
    background: #3ACBC7;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: relative;
}
.logo{
    width: 70px;
    margin-left: 10px;
}
.bar-btn{
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background:#0359BE;
    text-align: center;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: .5s;
}

.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a:hover{
    color: #3ACBC7;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}



@media screen and (min-width: 768px){
    
    .logo{
        margin-left: 10px;
    }

    nav{
        height: 80px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        top: 0;
        height: 100px;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 20px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

   .nav-menu li a{
       font-size: 16px;
   } 
   
   .nav-menu li a:hover{
    color: #0359BE;
    transition: .3s;
    }
}

a {
    text-decoration: none;
}
  
body, html {
    height: 100%;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;
}


#calendari {
    position: relative;
    overflow: hidden;
    top: 2.6cm;
    height: 283px;
    width: 500px;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    padding: 20px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 500px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s ease;
}

table.actiu {
    transform: translateX(0px)top;
}
table.inactiu {
    transition: all 0.3s 0.01s ease;
}
table.amagat-esquerra {
    transform: translateX(-299px);
}
table.amagat-dreta {
    transform: translateX(300px);
}
td,th {
    text-align: center;
    background-color: #fff;
}
th {
    padding: 5px;
}
tr:first-child th {
    font-size: 20px;
    font-weight: bold;
    border-left: none;
    border-top: none;
}
td:last-child, th:last-child {
  border-right: none;
}

th {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: #2fcdcd;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    font-weight: normal;
}
th .any {
    font-size: 12px;
    font-weight: normal;
    display: block;
    text-shadow: none;
    color: rgba(0,0,0,0.4);
}
tr:nth-child(2) th {
    padding: 5px;
}
td {
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
td>span {
    color: #555;
    padding: 10px;
    display: block;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

td:nth-child(even)>span {
    background-color: rgba(0,0,0,0.02);
}
td:last-child>span,
td:nth-child(6)>span {
    color: #2fcdcd;
}
td.avui>span {
    font-weight: bold;
    background-color: #2fcdcd;
    color: #fff;
    border: 2px solid rgba(0,0,0,0.1);
}
td.fora > span {
    opacity: 0.2;
}
td > span:hover {
    background: #2fcdcd;
    color: #fff;
}
.boto-next, .boto-prev {
    background: rgba(0,0,0,0.1);
    color: #fff;
    font-family: inherit;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: inherit;
    padding: 2px 10px 5px 10px;
    line-height: 1px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 100%;
    position: absolute;
    top: 15px;
}
.boto-next { right: 10px; padding-left: 13px; }
.boto-prev { left: 10px; padding-right: 13px;}
.boto-next:hover,
.boto-prev:hover {
    background: rgba(0,0,0,0.2);
}
button:hover { cursor: pointer; }
button:focus { outline: none; }

@media screen and (max-width: 503px){
    .buttonF a{
        display: inline-block;
        line-height: 100px;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 2px;
        cursor: pointer;
    }
    
    .titulo a{
        position: relative;
        top: 75px;
        color:#000;
        font-size:20px;
        text-decoration: none;
        cursor: pointer;
        margin: 7px;
    }

    #calendari {
        position: relative;
        overflow: hidden;
        top: 2.6cm;
        height: 283px;
        width: 450px;
        font-size: 14px;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
        padding: 20px;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 450px;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0);
        transition: all 0.3s ease;
    }    
}
