*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-color: #048dbf;
    background-size: cover;
    background-position: center;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedorTodo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

/*Formularios*/
.contenedorLogin{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: 20px;
    left: 10px;
}

.contenedorLogin form{
    width: 100%;
    padding: 80px 20px;
    background: #ededed;
    border-radius: 20px;

}

.contenedorLogin form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #048dbf;

}

.contenedorLogin form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #d4d4d4;
    /*background: #3acbc7;*/
    font-size: 16px;
    outline: none;
}

.contenedorLogin form button{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 14px;
    background: #048dbf;
    border: 2px solid #fff;
    color: white;
    cursor: pointer;
    outline: none;
    transition: all 300ms;
}

.contenedorLogin form button:hover{
    background: white;
    border: 2px solid #048dbf;
    color: #048dbf;
}


.contenedorLogin form h5{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    color: #048dbf;
    cursor: pointer;
}